.header {
  .container {
    display: flex;

    .header__logo {
      width: 123px;
      height: 90px;

      margin-top: 5px;
      background-color: rgb(212, 212, 216);
      //   background: url(default image.png);
    }
    .consult-nav {
      width: 636px;
      height: 95px;
      margin-left: 110px;

      .consult-menu {
        display: flex;
        .current-menu-item {
          border-bottom: #e4b56b 2px solid;
        }
        li {
          display: block;
          text-align: center;
          height: 21px;
          margin-top: 65px;
          white-space: nowrap;

          a {
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            text-decoration: none;
            text-align: center;

            color: #3e3e3e;
          }
        }
        .main {
          width: 70px;
        }
        .rectangle {
          width: 1px;
          height: 95px;
          margin-left: 26px;
          margin-right: 26px;

          background: rgba(62, 62, 62, 0.22);
        }
        .services {
          width: 82px;
        }

        .our-work {
          width: 118px;
          left: 632px;
        }

        .about-us {
          width: 49px;
        }

        .contacts {
          width: 82px;
        }
      }
    }
    .search-form {
      width: 18px;
      height: 18px;
      margin-left: 130px;
      margin-top: 64px;
    }
    .header__chooselanguage {
      display: flex;
      margin-left: 30px;
      margin-top: 64px;
      width: 58px;
      height: 21px;

      .dropdown__content {
        margin-top: 20px;
      }
    }
  }
}

@media (max-width: 360px) {
  .container {
    width: 100%;
  }
  .consult-nav {
    display: none;
  }
  .mb-2 {
    display: none;
  }
  .header__chooselanguage {
    display: none;
  }
  .search-form {
    display: none;
  }
}
