.menu-footer {
  li {
    display: block;
    margin-bottom: 15px;
    a {
      direction: none;
      width: 227px;
      height: 21px;

      font-family: Raleway;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 21px;

      color: #aeaeae;
    }
  }
  .main-item {
    margin-bottom: 30px;
    a {
      width: 102px;
      height: 21px;

      font-family: Raleway;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;

      color: #3e3e3e;
    }
  }
}
